{
	"$schema": "https://json.schemastore.org/prettierrc",
	"semi": true,
	"trailingComma": "all",
	"arrowParens": "avoid",
	"tabWidth": 2,
	"endOfLine": "lf",
	"bracketSpacing": true,
	"singleQuote": true,
	"overrides": [
		{
			"files": ".prettierrc",
			"options": { "parser": "json" }
		},
		{
			"files": "*.vue",
			"options": { "printWidth": 100 }
		}
	]
}
